<!-- skill and practices panel -->
<section class="homepage__how-we-work how-we-work">
  <div class="how-we-work__inner">

    {%- capture title -%}{% t index-how_we_work.title %}{%- endcapture -%}
    {%- capture description -%}{% t index-how_we_work.subtitle %}{%- endcapture -%}
    {% include section_intro.html class="how-we-work__intro" description=description title=title %}

    <div class="row no-gutters g-mb-50">
      <div class="col-sm-4 col-md-4 col-lg-2">
        <div class="g-px-30 g-pt-30 g-pb-50 how-we-work-container text-center">
          <img
            class="icon-md"
            src="{{ '/assets/custom/img/home/icon-software-craftsmanship.svg' | prepend: site.baseurl }}"
          />
          <h3 class="h5 g-color-black g-font-weight-600 mb-3 g-color-white">
            {% t index-how_we_work.value1_title %}
          </h3>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-2">
        <div class="g-px-30 g-pt-30 g-pb-50 how-we-work-container text-center">
          <img
            class="icon-md"
            src="{{ '/assets/custom/img/home/icon-agile.svg' | prepend: site.baseurl }}"
          />
          <h3 class="h5 g-color-black g-font-weight-600 mb-3 g-color-white">
            {% t index-how_we_work.value2_title %}
          </h3>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-2">
        <div class="g-px-30 g-pt-30 g-pb-50 how-we-work-container text-center">
          <img
            class="icon-md"
            src="{{ '/assets/custom/img/home/icon-continuous-delivery.svg' | prepend: site.baseurl }}"
          />
          <h3 class="h5 g-color-black g-font-weight-600 mb-3 g-color-white">
            {% t index-how_we_work.value3_title %}
          </h3>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-2">
        <div class="g-px-30 g-pt-30 g-pb-50 how-we-work-container text-center">
          <img
            class="icon-md"
            src="{{ '/assets/custom/img/home/icon-xp.svg' | prepend: site.baseurl }}"
          />
          <h3 class="h5 g-color-black g-font-weight-600 mb-3 g-color-white">
            {% t index-how_we_work.value4_title %}
          </h3>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-2">
        <div class="g-px-30 g-pt-30 g-pb-50 how-we-work-container text-center">
          <img
            class="icon-md"
            src="{{ '/assets/custom/img/home/icon-devops.svg' | prepend: site.baseurl }}"
          />
          <h3 class="h5 g-color-black g-font-weight-600 mb-3 g-color-white">
            {% t index-how_we_work.value5_title %}
          </h3>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-2">
        <div class="g-px-30 g-pt-30 g-pb-50 how-we-work-container text-center">
          <img
            class="icon-md"
            src="{{ '/assets/custom/img/home/icon-technology.svg' | prepend: site.baseurl }}"
          />
          <h3 class="h5 g-color-black g-font-weight-600 mb-3 g-color-white">
            {% t index-how_we_work.value6_title %}
          </h3>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->

