<span class="{{ include.class }}" id="hs-cta-wrapper-{{ include.hubspot-cta-id }}">
  <span class="hs-cta-{{ include.hubspot-cta-id }}" id="hs-cta-{{ include.hubspot-cta-id }}">
    <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
    <a href="https://cta-redirect.hubspot.com/cta/redirect/3042464/{{ include.hubspot-cta-id }}" ></a>
  </span>
  <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
  <script type="text/javascript"> hbspt.cta.load(3042464, '{{ include.hubspot-cta-id }}', {}); </script>
</span>
