<article class="service-line-teaser-card">
    <div class="service-line-teaser-card__image" style="background-image: url({{ site.baseurl }}{{ include.background_image }})"></div>
    <div class="service-line-teaser-card__content" style="background-image: url({{ site.baseurl }}{{ include.background_image }})">
        <div class="service-line-teaser-card__primary-content">
            {% if include.avatar-src %}
                <img src={{ include.avatar-src | prepend: site.baseurl}}>
            {% endif %}
            <h2 class="service-line-teaser-card__tag">{{ include.icon }} {{ include.name }}</h2>
            <h3 class="service-line-teaser-card__title">{{ include.title }}</h3>
        </div>
        <div class="service-line-teaser-card__secondary-content">
            <p class="service-line-teaser-card__description">{{ include.description }}</p>
            {% if data-entry.cta-path %}
                {% capture cta-href %}{{ include.cta_path | prepend: site.baseurl }}{% endcapture %}
                {% capture cta-text %}{% t services.learn-more %}{% endcapture %}
                {% include cta_primary_link.html color='coral' href=cta-href text=cta-text %}
            {% endif %}
        </div>
    </div>
</article>
