{% assign data = site.data.service_lines %}

<div class="services-page-intro__navigation">
  {% for service-line in  data.service_lines_in_teaser_group %}
    {% assign data-entry = data[service-line] %}
    {% capture href %}
      {% if site.lang == "en" %}
        {{ data-entry.cta-path | prepend: site.baseurl }}
      {% else %}
        {{ data-entry.cta-path-es | prepend: site.baseurl }}{% endif %}
    {% endcapture %}
    <div class=services-page-intro__icon-container>
      <a href="{{ href }}" class="services-page-intro__navigation-link">
        <div class="services-page-intro__navigation-icon services-page-intro__navigation-icon--{{service-line}}">
        {{ data-entry.icon }}
        </div>
      	<h2 class="services-page-intro__navigation-text">{{data-entry.name}}</h2>
      </a>
    </div>
  {% endfor %}
</div>