{%- assign tabber-data = site.data.service_lines_tabber[site.lang].[page.service-line] -%}

<div class="container z-index-1">
    <div class="tabbed-content g-pt-50">
        <nav class="tabs">
            <ul>
                <li><a href="#sustainable-change" class="active">
                    {{ tabber-data.tab-one-title }}
                </a></li>
                <li><a class="g-pt-15" href="#innovation">
                    {{ tabber-data.tab-two-title }}
                </a></li>
                <li><a class="g-pt-15"href="#technology">
                    {{ tabber-data.tab-three-title }}
                </a></li>
                <li><a href="#business-alignment">
                    {{ tabber-data.tab-four-title }}
                </a></li>
                <li><a href="#people-culture">
                    {{ tabber-data.tab-five-title }}
                </a></li>
                <li><a href="#risk-management">
                    {{ tabber-data.tab-six-title }}
                </a></li>
            </ul>
        </nav><!-- tabs -->

        <article id="sustainable-change" class="item active" data-title="Sustainable Change">
            <div class="item-content">
                <div class="item-content-grid">
                    <div class="item-content-grid__item-left bg-blue bg-sustainable-change" style="background-image: url({{ site.baseurl }}{{ tabber-data.tab-one-image-path }})">
                        <span class="h2 text-900 text-white">{{ tabber-data.tab-one-intro }}</span>
                    </div>
                    <div class="item-content-grid__item-right bg-white g-pt-35">
                        <span class="h4 text-700">
                        {{ tabber-data.what }}</span>
                        <ul class="g-pb-15 list-ticks">
                            <li>{{ tabber-data.tab-one-list-item-one }}</li>
                            <li>{{ tabber-data.tab-one-list-item-two }}</li>
                            <li>{{ tabber-data.tab-one-list-item-three }}</li>
                            <li>{{ tabber-data.tab-one-list-item-four }}</li>
                            <li>{{ tabber-data.tab-one-list-item-five }}</li>
                        </ul>
                        <span class="h4 text-700 g-mt-25">{{ tabber-data.how }}</span>
                        <p>
                            {{ tabber-data.tab-one-details }}
                        </p>
                    </div>
                </div>
            </div>
        </article><!-- #sustainable-change -->

        <article id="innovation" class="item" data-title="Innovation">
            <div class="item-content">
                <div class="item-content-grid">
                    <div class="item-content-grid__item-left bg-blue bg-innovation" style="background-image: url({{ site.baseurl }}{{ tabber-data.tab-two-image-path }})">
                        <span class="h2 text-900 text-white">{{ tabber-data.tab-two-intro }}</span>
                    </div>
                    <div class="item-content-grid__item-right bg-white g-pt-35">
                        <span class="h4 text-700">{{ tabber-data.what }}</span>
                        <ul class="g-pb-15 list-ticks">
                            <li>{{ tabber-data.tab-two-list-item-one }}</li>
                            <li>{{ tabber-data.tab-two-list-item-two }}</li>
                            <li>{{ tabber-data.tab-two-list-item-three }}</li>
                            <li>{{ tabber-data.tab-two-list-item-four }}</li>
                        </ul>
                        <span class="h4 text-700 g-mt-25">{{ tabber-data.how }}</span>
                        <p>
                            {{ tabber-data.tab-two-details }}
                        </p>
                    </div>
                </div>
            </div>
        </article><!-- #innovation -->

        <article id="technology" class="item" data-title="Technology">
            <div class="item-content">
                <div class="item-content-grid">
                    <div class="item-content-grid__item-left bg-blue bg-technology" style="background-image: url({{ site.baseurl }}{{ tabber-data.tab-three-image-path }})">
                        <span class="h2 text-900 text-white">{{ tabber-data.tab-three-intro }}</span>
                    </div>
                    <div class="item-content-grid__item-right bg-white g-pt-35">
                        <span class="h4 text-700">{{ tabber-data.what }}</span>
                        <ul class="g-pb-15 list-ticks">
                            <li>{{ tabber-data.tab-three-list-item-one }}</li>
                            <li>{{ tabber-data.tab-three-list-item-two }}</li>
                            <li>{{ tabber-data.tab-three-list-item-three }}</li>
                            <li>{{ tabber-data.tab-three-list-item-four }}</li>
                            <li>{{ tabber-data.tab-three-list-item-five }}</li>
                        </ul>
                        <span class="h4 text-700 g-mt-25">{{ tabber-data.how }}</span>
                        <p>
                            {{ tabber-data.tab-three-details }}
                        </p>
                    </div>
                </div>
            </div>
        </article><!-- #technology -->

        <article id="business-alignment" class="item" data-title="Business Alignment">
            <div class="item-content">
                <div class="item-content-grid">
                    <div class="item-content-grid__item-left bg-blue bg-business-alignment" style="background-image: url({{ site.baseurl }}{{ tabber-data.tab-four-image-path }})">
                        <span class="h2 text-900 text-white">{{ tabber-data.tab-four-intro }}</span>
                    </div>
                    <div class="item-content-grid__item-right bg-white g-pt-35">
                        <span class="h4 text-700">{{ tabber-data.what }}</span>
                        <ul class="g-pb-15 list-ticks">
                            <li>{{ tabber-data.tab-four-list-item-one }}</li>
                            <li>{{ tabber-data.tab-four-list-item-two }}</li>
                            <li>{{ tabber-data.tab-four-list-item-three }}</li>
                            <li>{{ tabber-data.tab-four-list-item-four }}</li>
                        </ul>
                        <span class="h4 text-700 g-mt-25">{{ tabber-data.how }}</span>
                        <p>
                            {{ tabber-data.tab-four-description }}
                        </p>
                    </div>
                </div>
            </div>
        </article><!-- #business-alignment -->

        <article id="people-culture" class="item" data-title="People and Culture">
            <div class="item-content">
                <div class="item-content-grid">
                    <div class="item-content-grid__item-left bg-blue bg-people-culture" style="background-image: url({{ site.baseurl }}{{ tabber-data.tab-five-image-path }})">
                        <span class="h2 text-900 text-white">{{ tabber-data.tab-five-intro }}</span>
                    </div>
                    <div class="item-content-grid__item-right bg-white g-pt-35">
                        <span class="h4 text-700">{{ tabber-data.what }}</span>
                        <ul class="g-pb-15 list-ticks">
                            <li>{{ tabber-data.tab-five-list-item-one }}</li>
                            <li>{{ tabber-data.tab-five-list-item-two }}</li>
                            <li>{{ tabber-data.tab-five-list-item-three }}</li>
                            <li>{{ tabber-data.tab-five-list-item-four }}</li>
                            <li>{{ tabber-data.tab-five-list-item-five }}</li>
                        </ul>
                        <span class="h4 text-700 g-mt-25">{{ tabber-data.how }}</span>
                        <p>
                            {{ tabber-data.tab-five-details }}
                        </p>
                    </div>
                </div>
            </div>
        </article><!-- #people-culture -->

        <article id="risk-management" class="item" data-title="Risk Management">
            <div class="item-content">
                <div class="item-content-grid">
                    <div class="item-content-grid__item-left bg-blue bg-risk-management" style="background-image: url({{ site.baseurl }}{{ tabber-data.tab-six-image-path }})">
                        <span class="h2 text-900 text-white">{{ tabber-data.tab-six-intro }}</span>
                    </div>
                    <div class="item-content-grid__item-right bg-white g-pt-35">
                        <span class="h4 text-700">{{ tabber-data.what }}</span>
                        <ul class="g-pb-15 list-ticks">
                            <li>{{ tabber-data.tab-six-list-item-one }}</li>
                            <li>{{ tabber-data.tab-six-list-item-two }}</li>
                            <li>{{ tabber-data.tab-six-list-item-three }}</li>
                            <li>{{ tabber-data.tab-six-list-item-four }}</li>
                            <li>{{ tabber-data.tab-six-list-item-five }}</li>
                        </ul>
                        <span class="h4 text-700 g-mt-25">{{ tabber-data.how }}</span>
                        <p>
                            {{ tabber-data.tab-six-details }}
                        </p>
                    </div>
                </div>
            </div>
        </article><!-- #risk-management -->

    </div><!-- Tabbed Content -->
</div>