<article id="sustainable-change" class="item active" data-title="Sustainable Change">
    <div class="item-content">
        <div class="item-content-grid">
            <div class="item-content-grid__item-left bg-blue bg-sustainable-change" style="background-image: url({{ site.baseurl }}{{ tabber-data.tab-one-image-path }})">
                <span class="h2 text-900 text-white">{{ tabber-data.tab-one-intro }}</span>
            </div>
            <div class="item-content-grid__item-right bg-white g-pt-35">
                <span class="h4 text-700">
                {{ site.data.service_lines_tabber[site.lang].what }}</span>
                <ul class="g-pb-15 list-ticks">
                    <li>{{ tabber-data.tab-one-list-item-one }}</li>
                    <li>{{ tabber-data.tab-one-list-item-two }}</li>
                    <li>{{ tabber-data.tab-one-list-item-three }}</li>
                    <li>{{ tabber-data.tab-one-list-item-four }}</li>
                    <li>{{ tabber-data.tab-one-list-item-five }}</li>
                </ul>
                <span class="h4 text-700 g-mt-25">{{ site.data.service_lines_tabber[site.lang].how }}</span>
                <p>
                    {{ tabber-data.tab-one-details }}
                </p>
            </div>
        </div>
    </div>
</article>
