<div class="tabber {{ include.class }}" data-tabber>
  <nav class="tabber__large-screen-controls">
    {% for tab in include.tabber_data %}
      {% capture active_class %} {% if forloop.first == true %}active{% endif %} {% endcapture %}
      <button class="tabber_large_screen_control {{ active_class }}" data-large_screen_control data-related_tab="{{ tab.id }}">{{ tab.title }}</button>
    {% endfor %}
  </nav>
  {% for tab in include.tabber_data %}
    {% capture active_class %} {% if forloop.first == true %}active{% endif %} {% endcapture %}
    <article id="{{ tab.id }}" class="tabber__panel tabber-panel {{ active_class }}" data-tabber_panel data-title="{{ tab.title }}">
      <div class="tabber-panel__inner">
        <div class="tabber-panel__header" style="background-image: url({{ site.baseurl }}{{ tab.image-path }})">
          <h3 class="tabber-panel__title">{{ tab.intro }}</h3>
        </div>
        <div class="tabber-panel__main">
          <h4 class="tabber-panel__subtitle">{{ site.data.service_lines_tabber[site.lang].what }}</h4>
          <ul class="tabber-panel__list">
            {% for item in tab.list %}
              <li class="tabber-panel__tick-item">{{ item }}</li>
            {% endfor %}
          </ul>
          <h4 class="tabber-panel__subtitle">{{ site.data.service_lines_tabber[site.lang].how }}</h4>
          <p class="tabber-panel__details">{{ tab.details }}</p>
        </div>
      </div>
    </article>
  {% endfor %}
</div>
