{%- assign tabber-data = site.data.service_lines_tabber.en.example-tabber -%}

<div class="tabber" data-tabber>
    <div class="tabber__inner">
        <nav class="tabber_large_screen_controls" data-large_screen_controls>
            <ul class="tabber_large_screen_controls-list">
                <li class="tabber_large_screen_controls-item active" data-large_screen_control data-related_tab="sustainable-change">{{ tabber-data.tab-one-title }}</li>
                <li class="tabber_large_screen_controls-item" data-large_screen_control data-related_tab="innovation">{{ tabber-data.tab-two-title }}</li>
            </ul>
        </nav>
        <article id="sustainable-change" class="tabber__panel tabber-panel active" data-title="Sustainable Change">
            <div class="tabber-panel__content">
                <div class="tabber-panel__content-grid">
                    <div class="tabber-panel__content-grid__item-left bg-blue bg-sustainable-change">
                        <span class="h2 text-900 text-white">{{ tabber-data.tab-one-intro }}</span>
                    </div>
                    <div class="tabber-panel__content-grid__item-right bg-white g-pt-35">
                        <span class="h4 text-700">{{ tabber-data.what }}</span>
                        <ul class="g-pb-15 list-ticks">
                            <li>{{ tabber-data.tab-one-list-item-one }}</li>
                            <li>{{ tabber-data.tab-one-list-item-two }}</li>
                            <li>{{ tabber-data.tab-one-list-item-three }}</li>
                            <li>{{ tabber-data.tab-one-list-item-four }}</li>
                            <li>{{ tabber-data.tab-one-list-item-five }}</li>
                        </ul>
                        <span class="h4 text-700 g-mt-25">{{ tabber-data.how }}</span>
                        <p>
                            {{ tabber-data.tab-one-details }}
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <article id="innovation" class="tabber__panel" data-title="Innovation">
            <div class="tabber-panel__content">
                <div class="tabber-panel__content-grid">
                    <div class="tabber-panel__content-grid__item-left bg-blue bg-innovation">
                        <span class="h2 text-900 text-white">{{ tabber-data.tab-two-intro }}</span>
                    </div>
                    <div class="tabber-panel__content-grid__item-right bg-white g-pt-35">
                        <span class="h4 text-700">{{ tabber-data.what }}</span>
                        <ul class="g-pb-15 list-ticks">
                            <li>{{ tabber-data.tab-two-list-item-one }}</li>
                            <li>{{ tabber-data.tab-two-list-item-two }}</li>
                            <li>{{ tabber-data.tab-two-list-item-three }}</li>
                            <li>{{ tabber-data.tab-two-list-item-four }}</li>
                            <li>{{ tabber-data.tab-two-list-item-five }}</li>
                        </ul>
                        <span class="h4 text-700 g-mt-25">{{ tabber-data.how }}</span>
                        <p>
                            {{ tabber-data.tab-two-details }}
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
