{% assign data = include.accordion_data.crafting-code-and-crafted-design.why-attend %}

<p>{{ data.intro }}</p>
<p>{{ data.clean-code-headline-one }}</p>
<p>{{ data.why-attend }}</p>
<ul>
  {% for item in data.why-attend-list %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>
<p>{{ data.clean-code-headline-two }}</p>
