{% if include.training.featured %}
    {% capture avatar %}<img class="training-card__avatar" alt="" src={{ site.data.trainings_en.crafting-code-and-crafted-design.avatar-src | prepend: site.baseurl }}>{% endcapture %}
    {% assign author = include.training.author %}
    {% capture tag %}<h2 class="training-card__tag">{{ avatar }} {{ author }} <span class="training-card__course-length">{{ include.training.course-length }}</span></h2>{% endcapture %}
    {% assign featured_class = "training-card--featured" %}
{% else %}
    {% capture tag %}<h3 class="training-card__course-length">{{ include.training.course-length }}</h3>{% endcapture %}
    {% assign featured_class = "" %}
{% endif %}

{% capture cta-href %}{{ include.training.page | prepend: site.baseurl }}{% endcapture %}
{% capture cta-text %}{% t services.learn-more %}{% endcapture %}

<article class="training-card {{ featured_class }}">
    <div class="training-card__primary-content" style="background-image: url({{ site.baseurl }}{{ include.training.background-image-path}})">
        {{ tag }}
        <h3 class="training-card__title">{{ include.training.name }}</h3>
    </div>
    <div class="training-card__secondary-content">
        <p class="training-card__description">{{ include.training.description }}</p>
        {% include cta_primary_link.html color='coral' href=cta-href text=cta-text target="_blank" %}
    </div>
</article>
