{% assign data = include.accordion_data.why-attend %}

<p class="accordion-panel__intro">{{ data.intro }}</p>
{% if data.clean-code-headline-one %}<p class="accordion-panel__intro">{{ data.clean-code-headline-one }}</p>{% endif %}
{% if data.why-attend %}<h3 class="accordion-panel__sub-title">{{ data.why-attend }}</h3>{% endif %}
{% if data.why-attend-list %}{% include unordered_list.liquid list=data.why-attend-list %}{% endif %}
{% if data.clean-code-headline-two %}<p class="accordion-panel__intro">{{ data.clean-code-headline-two }}{% endif %}
<h3 class="accordion-panel__sub-title">{{ data.learning-objectives-title }}</h3>
{% include unordered_list.liquid list=data.learning-objectives-list %}
<p>{{ data.learning-outcome }}</p>
{% if data.software-design-intro %}<p>{{ data.software-design-intro }}</p>{% endif %}
{% if data.application-title %}<h3 class="accordion-panel__sub-title">{{ data.application-title }}</h3>{% endif %}
{% if data.application-list %}{% include unordered_list.liquid list=data.application-list %}{% endif %}
{% if data.microservices-title %}<h3 class="accordion-panel__sub-title">{{ data.microservices-title }}</h3>{% endif %}
{% if data.microservices-list %}{% include unordered_list.liquid list=data.microservices-list %}{% endif %}
