{%- if include.instructor -%}
  {%- assign course-description-modifier = training-hero__course-description--no-instructor -%}
{%- endif -%}

<section class="training-hero">
  <div class="training-hero__intro-container" style="background-image: url({{ site.baseurl }}{{ page.intro.background-image }})">
    <div class="training-hero__intro-container-inner"> 
      <h1 class="training-hero__course-title">Crafting Code</h1>
      <span class="training-hero__course-duration">Duration: 2 days</span>
    </div>
  </div>
  <div class="training-hero__details-wrapper">
    <div class="training-hero__details-wrapper-inner">
      <div class="training-hero__content-container">
        <div class="training-hero__instructor-wrapper">
          <span class="training-hero__instructor-avatar" style="background-image: url({{ site.baseurl }}{{ page.intro.instructor-avatar }})"></span>
          <div class="training-hero__instructor-wrapper-inner">
            <span class="training-hero__instructor-title">Course Instructor</span>
            <span class="training-hero__instructor-name">Sandro Mancuso</span>
          </div>
        </div>
        <div class="training-hero__description-wrapper">
          <p class="training-hero__course-description {{ course-description-modifier }}">This course is designed to help developers write code that is well-crafted. Meaning code that is clean,
          testable, maintainable, and an expression of the business domain. The course is entirely hands-on,
          designed to teach developers practical techniques they can immediately apply to real-world projects.
          </p>
          {% include cta_primary_link.html color='coral' text="Enquire now" %}
        </div>
      </div>
      <div class="training-hero-details__form">
        <h2 class="training-hero-details__form-title">Get in touch</h2>
        <div class="tab">
          {% include training-hero-details-form.liquid %}
        </div>
      </div>
    </div>
  </div> 
</section>
