{% assign data = include.accordion_data.why-attend %}

<p class="accordion-panel__intro">{{ data.intro }}</p>
<p class="accordion-panel__intro">{{ data.clean-code-headline-one }}</p>
<h3 class="accordion-panel__sub-title">{{ data.why-attend }}</h3>
{% include unordered_list.liquid list=data.why-attend-list %}
<p class="accordion-panel__intro">{{ data.clean-code-headline-two }}</p>
<h3 class="accordion-panel__sub-title">{{ data.learning-objectives-title }}</h3>
{% include unordered_list.liquid list=data.learning-objectives-list %}
<p>{{ data.learning-outcome }}</p>
<p>{{ data.software-design-intro }}</p>
<h3 class="accordion-panel__sub-title">{{ data.application-title }}</h3>
{% include unordered_list.liquid list=data.application-list %}
<h3 class="accordion-panel__sub-title">{{ data.microservices-title }}</h3>
{% include unordered_list.liquid list=data.microservices-list %}
