{% assign data = include.accordion_data.crafting-code-and-crafted-design.why-attend %}

<p>{{ data.intro }}</p>
<p>{{ data.clean-code-headline-one }}</p>
<p>{{ data.why-attend }}</p>
{% include accordion_content_list.liquid list=data.why-attend-list %}
<p>{{ data.clean-code-headline-two }}</p>
<p>{{ data.learning-objectives-title }}</p>
{% include accordion_content_list.liquid list=data.learning-objectives-list %}
<p>{{ data.learning-outcome }}</p>
<p>{{ data.software-design-intro }}</p>
<p>{{ data.application-title }}</p>
{% include accordion_content_list.liquid list=data.application-list %}
<p>{{ data.microservices-title }}</p>
{% include accordion_content_list.liquid list=data.microservices-list %}
