<div class="service-line-teaser-card__content">
    <div class="service-line-teaser-card__primary-content">
        <h2 class="service-line-teaser-card__tag">{{include.meta-image}} {{ include.author }} </h2>
        <h3 class="service-line-teaser-card__title">{{ include.title }}</h3>
    </div>
    <div class="service-line-teaser-card__secondary-content">
        <p class="service-line-teaser-card__description">{{ include.description }}</p>
        {% if include.cta_path %}
            {% capture cta-href %}{{ include.cta_path | prepend: site.baseurl }}{% endcapture %}
            {% capture cta-text %}{% t services.learn-more %}{% endcapture %}
            {% include cta_primary_link.html color='coral' href=cta-href text=cta-text %}
        {% endif %}
    </div>
</div>