{% assign menus = site.data.website_navigation_menus %}
{% assign main_menu_items = menus.main_menu_items %}

<ul id="website-navigation-menu" class="{{ include.class }} website-navigation-menu">
  {% for item in main_menu_items %}
    <li class="website-navigation-menu__item">
      {% capture translation %}{% t sections.{{item.key}} %}{% endcapture %}
      {% if item.connects_to_sub_menu %}
        <button 
          class="website-navigation-menu__sub-menu-toggle" 
          id="sub-menu-toggle-{{ item.key }}" 
          aria-expanded="false" 
          aria-controls="sub-menu-{{ item.connects_to_sub_menu }}"
        >
          {{ translation }}
        </button>
      {% else %}
        {% capture href %}{{ item.path | prepend: site.baseurl }}{% endcapture %} 
        {% capture active_class %}{% if item.path == page.url %}website-navigation-menu__link--active{% endif %}{% endcapture %}
        <a href="{{ href }}" class="website-navigation-menu__link {{ active_class }}">{{ translation }}</a>
      {% endif %}
    </li>
  {% endfor %}  
</ul>
