 <div class="js-mega-menu {{ include.class }}">
    <ul class="website-navigation__menu-list">
      <li class="nav-item g-mx-15--lg g-mx-20--xl">
        <a href="{{ '/clients' | prepend: site.baseurl }}" class="website-navigation__menu-item px-0">{% t sections.clients %}</a>
      </li>
      <li class="nav-item g-mx-15--lg g-mx-20--xl">
        <a href="{{ '/services' | prepend: site.baseurl }}" class="website-navigation__menu-item px-0">{% t sections.services%}</a>
      </li>
      <li class="nav-item g-mx-15--lg g-mx-20--xl">
        <a href="{{ '/publications' | prepend: site.baseurl }}" class="website-navigation__menu-item px-0">{% t sections.publications%}</a>
      </li>
      <li class="nav-item g-mx-15--lg g-mx-20--xl">
        <a href="{{ '/careers' | prepend: site.baseurl }}" class="website-navigation__menu-item px-0">{% t sections.careers%}</a>
      </li>
      <li class="nav-item has-sub-menu">
        <span class="website-navigation__menu-item" id="nav-link-1" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-1">
          {% t sections.about-us%}
        </span>
        <ul class="sub-menu" id="nav-submenu-1" aria-labelledby="nav-link-1">
          <li class="website-navigation__dropdown-item">
            <a class="website-navigation__menu-item" href="{{ '/about-us/our-people' | prepend: site.baseurl }}">{% t sections.our-people%}</a>
          </li>
          <li class="website-navigation__dropdown-item">
            <a class="website-navigation__menu-item" href="{{ '/about-us/our-story' | prepend: site.baseurl }}">{% t sections.our-story%}</a>
          </li>
        </ul>
      </li>
      <li class="nav-item g-mx-15--lg g-mx-20--xl">
          <a href="{{ '/contact-us' | prepend: site.baseurl }}" class="website-navigation__menu-item px-0">{% t sections.contact%}</a>
      </li>
    </ul>
  </div>