{% assign menus = site.data.website_navigation_menus %}
{% assign main_menu_items = menus.main_menu_items %}

<ul id="website-navigation-menu" class="{{ include.class }} website-navigation-menu__list">
  {% for item in main_menu_items %}
    {% capture translation %}{% t sections.{{item.key}} %}{% endcapture %}
    {% if item.connects_to_sub_menu %}
      <li class="website-navigation-menu__list-item--has-sub-menu">
        <button class="website-navigation-menu__sub-menu-toggle" id="sub-menu-toggle-{{ item.key }}" aria-expanded="false" aria-controls="sub-menu-{{ item.connects_to_sub_menu }}">
          {{ translation }}
        </button>
      </li>
    {% else %}
      {% capture href %}{{ item.path | prepend: site.baseurl }}{% endcapture %} 
      {% capture active_class %}{% if item.path == page.url %}website-navigation-menu__item--active{% endif %}{% endcapture %}
      <li>
        <a href="{{ href }}" class="website-navigation-menu__item {{ active_class }}">{{ translation }}</a>
      </li>
    {% endif %}
  {% endfor %}  
</ul>

{% assign sub_menus = menus.sub_menus %}

{% for sub_menu in sub_menus %}
  <ul class="website-navigation-menu__sub-menu" id="sub-menu-{{ sub_menu.key }}" aria-labelledby="sub-menu-toggle-{{ sub_menu.key }}">
    {% for item in sub_menu.items %}
      {% capture translation %}{% t sections.{{item.key}} %}{% endcapture %}
      {% capture href %}{{ item.path | prepend: site.baseurl }}{% endcapture %} 
      {% capture active_class %}{% if item.path == page.url %}website-navigation-menu__item--active{% endif %}{% endcapture %}
      <li>
        <a class="website-navigation-menu__item {{ active_class }}" href="{{ href }}">{{ translation }}</a>
      </li>
    {% endfor %}  
  </ul>
{% endfor %}  
