 <div class="{{ include.class }}">
    <ul class="website-navigation-menu__list">
      <li>
        <a href="{{ '/clients' | prepend: site.baseurl }}" class="website-navigation-menu__item px-0">{% t sections.clients %}</a>
      </li>
      <li>
        <a href="{{ '/services' | prepend: site.baseurl }}" class="website-navigation-menu__item px-0">{% t sections.services%}</a>
      </li>
      <li>
        <a href="{{ '/publications' | prepend: site.baseurl }}" class="website-navigation-menu__item px-0">{% t sections.publications%}</a>
      </li>
      <li>
        <a href="{{ '/careers' | prepend: site.baseurl }}" class="website-navigation-menu__item px-0">{% t sections.careers%}</a>
      </li>
      <li class="website-navigation-menu__list-item--has-sub-menu">
        <span class="website-navigation-menu__item" id="nav-link-1" aria-expanded="false" aria-controls="nav-submenu-1">
          {% t sections.about-us%}
        </span>
        <ul class="website-navigation-menu__sub-menu" id="nav-submenu-1" aria-labelledby="nav-link-1">
          <li class="website-navigation-menu__dropdown-item">
            <a class="website-navigation-menu__item" href="{{ '/about-us/our-people' | prepend: site.baseurl }}">{% t sections.our-people%}</a>
          </li>
          <li class="website-navigation-menu__dropdown-item">
            <a class="website-navigation-menu__item" href="{{ '/about-us/our-story' | prepend: site.baseurl }}">{% t sections.our-story%}</a>
          </li>
        </ul>
      </li>
      <li>
          <a href="{{ '/contact-us' | prepend: site.baseurl }}" class="website-navigation-menu__item px-0">{% t sections.contact%}</a>
      </li>
    </ul>
  </div>